
@media screen and (min-width: 480px){
.container {
   width: 428px; 
   }
  .modal {
   width: 392px;
   height: 584px;
  }

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px){
.overlay {
background-image:linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
url(../images/hero-mob-2x.jpg);
}
}



 
